#form {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 40%;
    margin-left: 40%;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: lightcyan;
    margin-top: 15%;
}

html {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,2,168,1) 100%);
}

label {
    color: lightcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5%;
    font-size: 20px;
}

input {
    background-color: rgb(9, 5, 87);
    color: lightcyan;
    border-radius: 15px;
    padding: 5px;
    margin-top: 3%;
}

button {
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;
    font-size: 25px;
    border-radius: 15px;
    background-color: rgb(9, 5, 87);
    color: lightcyan;
    padding: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#result {
    color: lightcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}